<h1>School Class Form</h1>

<%= form_for(@school_class) do |f| %>
    <label>Title:</label><br><br>
    <%= f.text_field :title %><br>

    <label>Room Number:</label><br><br>
    <%= f.text_field :room_number %><br>

    <%= f.submit :value => "Update School class" %><br>
<% end %>